@define-color color-bg #282828;
@define-color color-bg-alt #3C3836;
@define-color color-text #EBDBB2;
@define-color color-text-alt #D5C4A1;
@define-color color-text-alter #BDAE93;
@define-color color-accent1 #B8BB26;
@define-color color-accent1-alt #98971A;
@define-color color-accent2 #FB4934;
@define-color color-accent2-alt #CC241D;
@define-color color-accent3 #FE8019;
@define-color color-accent3-alt #D65D0E;

* {
  font-family: "JetBrains Mono NF", sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: @color-bg;
  border-radius: 0px;
  color: @color-text;
}

#clock {
  color: @color-accent1;
  background-color: @color-bg-alt;
  font-family: "Oxanium ExtraBold", sans-serif;
  font-size: 18px;
  padding: 8px 0;
  padding-top: 12px;
  border-radius: 5px;
}

#battery {
  margin-bottom: 5px;
  background-color: @color-bg-alt;
  padding: 5px 0px;
  border-radius: 5px;
}

#battery.discharging {
  color: @color-text;
}

#battery.charging {
  color: @color-accent1-alt;
  background-color: @color-text;
}

#pulseaudio.muted {
  color: @color-text;
  background-color: @color-accent2-alt;
}

#pulseaudio {
  background-color: @color-bg-alt;
  padding: 5px 0px;
  border-radius: 5px;
}

#network {
  background-color: @color-bg-alt;
  padding: 5px 0px;
  border-radius: 5px;
}

#workspaces {
  padding: 5px;
}

#workspaces button {
  margin-top: 3px;
  padding: 3px 10px;
  color: @color-bg-alt;
  background-color: @color-text-alt;
  transition: padding 0.2s ease-in-out;
}

#workspaces button.active {
  color: @color-bg;
  background-color: @color-accent3-alt;
  padding: 10px 10px;
}

#workspaces button:hover:not(.active) {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @color-accent3;
  background: none;
  background-color: @color-bg;
}

.modules-center {
  padding: 0 5px;
}

.modules-right {
  padding: 0 5px;
  border-radius: 0px;
}

tooltip {
  background-color: @color-bg;
}
