table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

body {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
