[user]
	signingkey = FAA2CE5484FC28C6062E833D1947744E9596A180
	name = shasherazi
	email = hassanrandomz@gmail.com
[commit]
	gpgsign = true
[init]
  defaultBranch = main
[tag]
	gpgSign = true
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
