* {
  all: unset;
}

/* 
  --background: #16161e;
  --foreground: #a9b1d6;  
 */

.main {
  font-family: "JetBrains Mono NF";
  font-size: 15px;
  color: #a9b1d6;
  padding: 0 10px;
}

tooltip {
  background-color: black;
  border-radius: 5px;
}

.left,
.center,
.right {
  background-color: #16161e;
  padding: 5px 10px;
  border-radius: 10px;
}

.currentWorkspace {
  padding: 0 5px;
}

.workspace:hover {
  color: #f7768e;
}

.current {
  color: #9ece6a;
}

.date {
  padding-left: 10px;
}

scale trough {
  background-color: red;
  border-radius: 2px;
  min-height: 5px;
  min-width: 50px;
}

scale trough highlight {
  background-color: blue;
  border-radius: 2px;
}

.battery-charging {
  color: #9ece6a;
}


.qr-main {
  background: #222;
  border-radius: 10px;
  padding: 20px;
}

.qr-ascii {
  font-family: "JetBrains Mono", "Courier New", monospace;
  font-size: 8px;
  line-height: 1;
  color: #fff;
  background: #000;
  padding: 10px;
  border-radius: 5px;
}